* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
	
#landing {
    background-color: #f5f5f5;
}

.landing-container-main{
	max-height:80vh;
	/*width: 100%;*/
} 

.landing-container2{
	height:100vh;
	width: 100%;
}

.landingHeading {
	/*font-family: 'Open Sans', sans-serif;*/
	text-shadow: 3px 2px 3px #95d5b2;
	font-size: 35pt;
}	

.landing-desc{
	position: relative;
	top: 40%;
	color: #1b4332;
	font-size: 3vh;
	font-weight: 200;
}

.landing-text-img {
    position: absolute;
    top: 63%;
    left: 22%;
    overflow: hidden;
    height:5vw;
}

.landing-text-img:hover{
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.about-icon {
	position: relative;
	text-align: center;
	margin: 5% auto;
	top: 10%;
}

.landing-icon1{
	z-index: 10;
	height: 10rem !important;
	position: relative;
	margin: 2rem auto;
}

.landing-icon1:hover{
	/* transition: all 0.4s ease-in-out; */
	transition: all .2s ease-in-out;
	transform: scale(1.3);
}

.nav-link {
	display: inline-block !important; 
	align-content: right !important;
}

/*Buttons*/
.wrapper{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  width: 150px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #353535;
  letter-spacing: 1px;
  transition: all .35s;
}

#btnMain {
  background: #52b788;
  border: 3px solid black;
  line-height: 50px;
  margin:auto; 
  margin-top: 40px;
}

.icon{
  width: 30px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #353535;
  transition: all .35s;
}

a:hover{
  width: 200px;
  border: 3px solid #353535;
  background: #40916c;
  color: #40916c;
}

/*Nav*/
.navbar{
    mix-blend-mode: multiply !important;
}

.navbar-brand-img {
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    transition: background-size 275ms cubic-bezier(.5,0,.5,0);
    background-size: 100% 1px;
}

/*Login*/
.login-button{
  z-index: 10;
  color: white;
  top:50%;
  position: absolute;
  height:1.7rem;
  right: 20px;
}

.login-button:hover{
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

